<h1>Editing Some Thing</h1>

<%= render 'form', some_thing: @some_thing %>

<%= link_to 'Show', @some_thing , class:"btn btn-xs btn-default" %> |
<%= link_to 'Back', some_things_path , class:"btn btn-xs btn-default"  %>
