<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">some_thing</div>

<div class="panel-body">


<p>
  <strong>Val:</strong>
  <%= @some_thing.val %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_some_thing_path(@some_thing) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', some_things_path , class:"btn btn-xs btn-danger" %>

</div></div>
