<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-container">
  <h1>About</h1>

  <div class="w3-panel w3-card-4 w3-light-grey" style="width:50%">
    <p class=" w3-large w3-serif">
    <i class="fa fa-quote-right w3-xxlarge w3-text-red"></i><br>
    Our clients love our services for assistance with speeches, interview techniques, and toatmaster events/weddings .</p>
    <ul style="list-style-type:circle">
      <li><a href= "https://en.wikipedia.org/wiki/Quotation">Information on quotes</a></li>
      <li><a href= "https://www.themuse.com/advice/the-10-rules-of-interview-etiquette/">Information on job interview etiquette</a></li>
      <li><a href= "https://www.wikihow.com/Host-a-Good-Party">Hosting the perfect party</a></li>
    </ul>
  </div>
</div>

</body>
</html>
