<!DOCTYPE html>
<html>
<head>
<style>
.boxed {
    border: 5px solid red;
}
.frame-border {
    border: 5px solid #ff1a1a;
}
h1 {
    color: white;
    background-color:red;
}
</style>
</head>
<body>
<h1>Videos that help with public speaking:</h1>
<div class="frame-border">
<iframe width="560" height="315" src="https://www.youtube.com/embed/k8GvTgWtR7o" frameborder="0" allowfullscreen></iframe>
</div>
<div class="boxed">
<p style= "font-size:xx-large">Click the YouTube logo for more!</p>
</div>
<a href="https://www.youtube.com/results?search_query=public+speaking">
    <img src= "http://downloadicons.net/sites/default/files/youtube-logo-icon-65474.png" alt="youtube"
    style="width:85px;height:70px;border:0;">
</a>
</body>
</html>
