<!DOCTYPE html>
<html>
  <head>
    <title>Famous Quotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "w3-container w3-gray">
    <nav class="navbar navbar-success">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Don't Quote Me</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/static_pages/home" class= "w3-bar-items- w3-button">home</a></li>
      <li><a href="/quotes" class= "w3-bar-items- w3-button">quotes</a></a></li>
      <li><a href="/static_pages/help" class= "w3-bar-items- w3-button">help</a></li>
      <li><a href="/static_pages/about"class= "w3-bar-items- w3-button">about</a></li>
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
